{% extends 'layouts/nav.html' %}

{% block content %}
    
    <div class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt, maxime mollitia illum vel inventore fugiat voluptatum natus aperiam porro recusandae alias voluptate repudiandae distinctio nam animi doloremque dolorum cumque atque nulla fuga quod. Vitae, sed similique. Provident adipisci sequi praesentium doloremque quam recusandae, eos repudiandae eligendi exercitationem officiis tenetur eveniet quod. Quia maxime atque fuga alias earum, aspernatur provident minus quisquam voluptates autem tempora ipsum eius architecto eos eligendi officia voluptate id facilis saepe, et quis! Ullam eos, quos delectus error neque fugiat amet ducimus incidunt ad veritatis culpa maiores exercitationem! Quaerat a optio dolores tempore voluptas. Doloremque, explicabo.</p>
    </div>

{% endblock %}